<h1>Available People</h1>

<div>
  {{#each people}}
    <div style="display:inline-block">
      <a href="/{{@key}}/Example">
        <h2>{{@key}}</h2>
        <img src="{{this.file}}" />
      </a>
    </div>
  {{/each}}
</div>